<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fashion Hub</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="/user_assets/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/user_assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user_assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/user_assets/css/jquery-ui.css">
    <link rel="stylesheet" href="/user_assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/user_assets/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="/user_assets/css/aos.css">

    <link rel="stylesheet" href="/user_assets/css/style.css">


    
  </head>
  <body>
  
  <div class="site-wrap">
    <header class="site-navbar" role="banner">
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
              <form action="" class="site-block-top-search">
                <span class="icon icon-search2"></span>
                <input type="text" class="form-control border-0" placeholder="Search">
              </form>
            </div>

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
              <div class="site-logo">
                <a href="/" class="js-logo-clone">Fashion Hub</a>
              </div>
            </div>

            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
                <ul>
                  <% if(locals.user){%>
                    <li><a href="/user/profile"><span class="icon icon-person"></span></a></li>
                  <li><a href="/wishlist"><span class="icon icon-heart-o"></span></a></li>
                  <li>
                    <a href="/cart" class="site-cart">
                      <span class="icon icon-shopping_cart"></span>
                      <% if(locals.count){%>
                        <span class="count"><%= count ? count : '' %></span>
                        <%} %>
                    </a>
                  </li> 
                  <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                    <%}else{%>
                      <li><a href="#"><span class="icon icon-person"></span></a></li>
                      <li><a href="#"><span class="icon icon-heart-o"></span></a></li>
                      <li>
                        <a href="#" class="site-cart">
                          <span class="icon icon-shopping_cart"></span>
                          <span class="count">2</span>
                        </a>
                      </li> 
                      <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                    <%}
                    %>
                  
                </ul>

                <% if(locals.user){%>
                    <!-- Example single danger button -->
                   <div class="btn-group">
                     <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <%= user.name %>
                     </button>
                     <div class="dropdown-menu">
                       <a class="dropdown-item" href="/user/logout">Log out</a>
                     </div>
                   </div>
    
                 <%}else{%>
                   <a class="btn btn-primary text-light" href="/login" role="button">Log In</a>
                 <%} %>
              </div> 
            </div>

          </div>
        </div>
      </div> 
      <nav class="site-navigation text-right text-md-center" role="navigation">
        <div class="container">
          <ul class="site-menu js-clone-nav d-none d-md-block">
            <li class="has-children active">
              <a href="/">Home</a>
              <ul class="dropdown">
                <% if(locals.user){%>
                <li><a href="/user/vieworders">View Orders</a></li>
                <%} %>
                
              </ul>
            </li>
          
            <li><a href="/shop">Shop</a></li>
            <li><a href="/wallet">Wallet</a></li>
            <li><a href="/user/vieworders">Orders</a></li>
            <li><a href="/wishlist">Wishlist</a></li>
            
           
          </ul>
        </div>
      </nav>
    </header>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <a href="/cart">Cart</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Checkout</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
       
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <h2 class="h3 mb-3 text-black">Details</h2>
            <div class="p-3 p-lg-5 border">
             <form method="post" action="/addAddress">
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_fname" class="text-black">Full Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="name" name="name" required>
                </div>
                
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_companyname" class="text-black">Address <span class="text-danger">*</span> </label>
                  <input type="text" class="form-control" id="address" name="address" required>
                </div>
              </div>

              

              <div class="form-group row">
                <div class="col-md-6">
                  <label for="c_state_country" class="text-black">City <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="city" name="city" required>
                </div>
                <div class="col-md-6">
                  <label for="c_postal_zip" class="text-black">State <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="state" name="state" required>
                </div>
              </div>

              <div class="form-group row mb-5">
                <div class="col-md-6">
                  <label for="c_email_address" class="text-black">Posta / Zip<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="pincode" name="pincode" required>
                </div>
                <div class="col-md-6">
                  <label for="c_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number" required>
                </div>
              </div>

             


             
             <% if(!locals.addressData){%>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg py-3 btn-block">Add new address</button>
                  </div>

                <%}else{%>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg py-3 btn-block" >Add new address</button>
                      </div>
                    <%} %>
                  </form>
            </div>
          </div>
          <div class="col-md-6">

            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Select address</h2>
                <div class="p-3 p-lg-5 border">
                  <% if(locals.addressData){%>
                   <% locals.addressData.forEach((address) =>{%>
                      <p class="mb-0"><%= address.address %></p>
                      <p class="mb-0"><%= address.city %></p>
                      <p class="mb-0"><%= address.state %></p>
                      <p class="mb-0"><%= address.phone %></p>
                      <p class="mb-0"><%= address.pincode %></p>
                      <div class="row">
                        <div class="col">
                          <a href="/confirmOrder/<%= address._id %>" class="btn btn-success mb-1" >Select address</a>
                        </div>
                        <div class="col">
                          <a type="button" href="" class="btn btn-primary mb-1 " data-toggle="modal" data-target="#exampleModal<%= address._id %>">Edit address</a>
                        </div>
                      </div>
                      
                    <%}) %>
                    
                    <%} %>
                  
                </div>
              </div>
            </div>
            
            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Your Order</h2>
                <div class="p-3 p-lg-5 border">
                  <table class="table site-block-order-table mb-5">
                    <thead>
                      <th>Product</th>
                      <th>Total</th>
                    </thead>
                    <tbody>
                        <% cartItems.products.forEach((item) =>{%> 
                           
                      <tr>
                        <td><%= item.productId.name %> <strong class="mx-2">x</strong><%= item.quantity %></td>
                        <%  let totalPrice =  item.productId.price  *  item.quantity %>
                        <td class="item-total"> <%= totalPrice %></td>
                      </tr>
                      <%} ) %>
                      <tr>
                        <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                        <td class="text-black" id="subtotal"><strong>$350.00</strong></td>
                      </tr>
                      <tr>
                        <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                        <td class="text-black font-weight-bold " id="total"><strong>$350.00</strong></td>
                      </tr>
                     
                    </tbody>
                  </table>

                 

          

                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- </form> -->
      </div>
    </div>

    <!-- Modal -->
    <% if(locals.addressData){%>
      <% locals.addressData.forEach((address) =>{%>
<div class="modal fade" id="exampleModal<%= address._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form action="/edit/address/<%= address._id %>" method="post">
          
          
          
          <div class="form-group row">
            <div class="col-md-12">
              <label for="c_fname" class="text-black">Full Name <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="name" name="name" value="<%= address.name %>" required>
            </div>
            
          </div>

          <div class="form-group row">
            <div class="col-md-12">
              <label for="c_companyname" class="text-black">Address <span class="text-danger">*</span> </label>
              <input type="text" class="form-control" id="address" name="address" value="<%= address.address %>" required>
            </div>
          </div>

          

          <div class="form-group row">
            <div class="col-md-6">
              <label for="c_state_country" class="text-black">City <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="city" name="city" value="<%= address.city %>" required>
            </div>
            <div class="col-md-6">
              <label for="c_postal_zip" class="text-black">State <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="state" name="state" value="<%= address.state %>" required>
            </div>
          </div>

          <div class="form-group row mb-5">
            <div class="col-md-6">
              <label for="c_email_address" class="text-black">Posta / Zip<span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="pincode" name="pincode" value="<%= address.pincode %>" required>
            </div>
            <div class="col-md-6">
              <label for="c_phone" class="text-black">Phone <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="phone" name="phone" value="<%= address.phone %>" required>
            </div>
          </div>
        
      
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
    </form>
    </div>
  </div>
</div>
<%}) %>
<%} %>

<footer class="site-footer border-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="row">
          <div class="col-md-12">
            <h3 class="footer-heading mb-4">Navigations</h3>
          </div>
          <div class="col-md-6 col-lg-4">
            <ul class="list-unstyled">
              <li><a href="#">Sell online</a></li>
              <li><a href="#">Features</a></li>
              <li><a href="#">Shopping cart</a></li>
              <li><a href="#">Store builder</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-4">
            <ul class="list-unstyled">
              <li><a href="#">Mobile commerce</a></li>
              <li><a href="#">Dropshipping</a></li>
              <li><a href="#">Website development</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-4">
            <ul class="list-unstyled">
              <li><a href="#">Point of sale</a></li>
              <li><a href="#">Hardware</a></li>
              <li><a href="#">Software</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
        <h3 class="footer-heading mb-4">Promo</h3>
        <a href="#" class="block-6">
          <img src="/user_assets/images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
          <h3 class="font-weight-light  mb-0">Finding Your Perfect Style</h3>
          
        </a>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="block-5 mb-5">
          <h3 class="footer-heading mb-4">Contact Info</h3>
          <ul class="list-unstyled">
            <li class="address">Fashion Hub, Kochi, Kerala, India</li>
            <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
            <li class="email">fashionHubdummy@Email.com</li>
          </ul>
        </div>

        <div class="block-7">
          <form action="#" method="">
            <label for="email_subscribe" class="footer-heading">Subscribe</label>
            <div class="form-group">
              <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
              <input type="submit" class="btn btn-sm btn-primary" value="Send">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy; All rights reserved | This Project is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="" target="_blank" class="text-primary">Shyam P.S</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
      
    </div>
  </div>
</footer>
  </div>

  <script>
     const setSubtotal  = ()=>{
    const itemTotal=document.getElementsByClassName('item-total');
    let subtotal = 0;
    for(let i= 0; i < itemTotal.length; i++){
      subtotal += Number(itemTotal[i].innerHTML)
    }
    document.getElementById('subtotal').innerHTML=subtotal;
		document.getElementById('total').innerHTML=subtotal;
  }
  setSubtotal();
  </script>



  <script src="/user_assets/js/jquery-3.3.1.min.js"></script>
  <script src="/user_assets/js/jquery-ui.js"></script>
  <script src="/user_assets/js/popper.min.js"></script>
  <script src="/user_assets/js/bootstrap.min.js"></script>
  <script src="/user_assets/js/owl.carousel.min.js"></script>
  <script src="/user_assets/js/jquery.magnific-popup.min.js"></script>
  <script src="/user_assets/js/aos.js"></script>

  <script src="/user_assets/js/main.js"></script>
    
  </body>
</html>