<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fashion Hub</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="/user_assets/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/user_assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user_assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/user_assets/css/jquery-ui.css">
    <link rel="stylesheet" href="/user_assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/user_assets/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="/user_assets/css/aos.css">

    <link rel="stylesheet" href="/user_assets/css/style.css">
    
  </head>
  <body>
  
  <div class="site-wrap">
    <header class="site-navbar" role="banner">
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
              <form action="" class="site-block-top-search">
                <span class="icon icon-search2"></span>
                <input type="text" class="form-control border-0" placeholder="Search">
              </form>
            </div>

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
              <div class="site-logo">
                <a href="/" class="js-logo-clone">Fashion Hub</a>
              </div>
            </div>

            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
                <ul>
                  <% if(locals.user){%>
                    <li><a href="/user/profile"><span class="icon icon-person"></span></a></li>
                  <li><a href="/wishlist"><span class="icon icon-heart-o"></span></a></li>
                  <li>
                    <a href="/cart" class="site-cart">
                      <span class="icon icon-shopping_cart"></span>
                      <% if(locals.count){%>
                        <span class="count"><%= count ? count : '' %></span>
                        <%} %>
                    </a>
                  </li> 
                  <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                    <%}else{%>
                      <li><a href="#"><span class="icon icon-person"></span></a></li>
                      <li><a href="#"><span class="icon icon-heart-o"></span></a></li>
                      <li>
                        <a href="#" class="site-cart">
                          <span class="icon icon-shopping_cart"></span>
                          <span class="count">2</span>
                        </a>
                      </li> 
                      <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                    <%}
                    %>
                  
                </ul>

                <% if(locals.user){%>
                  <!-- Example single danger button -->
                 <div class="btn-group">
                   <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <%= user.name %>
                   </button>
                   <div class="dropdown-menu">
                     <a class="dropdown-item" href="/user/logout">Log out</a>
                   </div>
                 </div>
  
               <%}else{%>
                 <a class="btn btn-primary text-light" href="/login" role="button">Log In</a>
               <%} %>
              </div> 
            </div>

          </div>
        </div>
      </div> 
      <nav class="site-navigation text-right text-md-center" role="navigation">
        <div class="container">
          <ul class="site-menu js-clone-nav d-none d-md-block">
            <li class="has-children active">
              <a href="/">Home</a>
              <ul class="dropdown">
                <% if(locals.user){%>
                <li><a href="/user/vieworders">View Orders</a></li>
                <%} %>
                
              </ul>
            </li>
          
            <li><a href="/shop">Shop</a></li>
            <li><a href="/wallet">Wallet</a></li>
            <li><a href="/user/vieworders">Orders</a></li>
            <li><a href="/wishlist">Wishlist</a></li>
            
           
          </ul>
        </div>
      </nav>
    </header>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <a href="/cart">Cart</a> <span class="mx-2 mb-0">/</span><a href="/checkout">Checkout</a><span class="mx-2 mb-0">/</span> <strong class="text-black">Confirm Order</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
       
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <h2 class="h3 mb-3 text-black">Ordered address</h2>
            <div class="p-3 p-lg-5 border">
              <% if(locals.data){%>
                <span><%= data.name %>,</span>
                <span> <%= data.address %>,</span>
                <span> <%= data.city %>,</span>
                <span> <%= data.state %>,</span>
                <span> Pin : <%= data.pincode %>,</span>
                <span>Phone : <%= data.phone %></span>
                <%} %>
                
            </div>
        
          </div>
          <div class="col-md-6">

            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Coupon Code</h2>
                <div class="p-3 p-lg-5 border">

                  <form id="couponForm" action="/redeem_coupon" method="post">
                  <label for="couponCode" class="text-black mb-3">Enter your coupon code if you have one</label>
                  <div class="input-group w-75">
                    <input type="text" class="form-control" id="couponCode" placeholder="Coupon Code" aria-label="Coupon Code" name="coupon" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary btn-sm" type="button" id="button-addon2" onclick="redeem()">Apply</button>
                    </div>
                  </div>
                  <a href="#" class="link-primary mt-5" data-toggle="modal" data-target="#exampleModal">Show all coupons >></a>
                  <div id="couponMessage"
											 style="padding-bottom: 10px; color: darkred;"></div>

										  <div id="couponMessage1"
											 style="padding-bottom: 10px; color: rgb(7, 126, 13);"></div>
                      </form>
                </div>
                <a href="/wallet" class="link-primary">Check your wallet amount ?</a>
                <div>
                  <p>Pay using wallet amount :</p><span> <button class="btn btn-primary btn-sm" type="button" onclick="walletPay()">Wallet Pay</button></span>
                  <div id="walletMsg"
											 style="padding-bottom: 10px; color: rgb(7, 126, 13); margin-top: 14px;"></div>
                </div>
               
                
              </div>
            </div>
            
            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Your Order</h2>
                <div class="p-3 p-lg-5 border">
                  <table class="table site-block-order-table mb-5">
                    <thead>
                      <th>Product</th>
                      <th>Total</th>
                    </thead>
                    <tbody>
                      <% if(cartItems != null){%>
                       
                       
                      <% cartItems.products.forEach((item) =>{%> 
                      <tr>
                        <td><%= item.productId.name %>  <strong class="mx-2">x</strong> <%= item.quantity %></td>
                        <%  let totalPrice =  item.productId.price  *  item.quantity %>
                        <td class="item-total" id="totalprice"> <%= totalPrice %></td>
                      </tr>
                      <%} ) %>
                      <%}else{%>
                        <div class="container center">
                          <h2 style="text-align: center;">Your Shopping Cart is Empty</h2>
                          <a class="btn btn-primary text-light mb-5 d-flex justify-content-center" href="/" role="button">Return Home</a>
                        </div>
                        <%} %>
                     
                      <tr>
                        <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                        <td class="text-black" id="subtotal" >$350.00</td>
                      </tr>
                      <tr>
                        <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                        <td class="text-black font-weight-bold" id="total" ><strong>$350.00</strong></td>
                      </tr>
                    </tbody>
                  </table>
                  
                  <form action="/confirmOrder/<%= data._id %>" method="post">
                  <div class="border p-3 mb-3">
                    
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="payment" value="paypal" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        Paypal
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="payment" value="cod" id="flexRadioDefault2" checked>
                      <label class="form-check-label" for="flexRadioDefault2">
                        Cash on Delivery
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="payment" value="banktransfer" id="flexRadioDefault3" >
                      <label class="form-check-label" for="flexRadioDefault3">
                        Bank Transfer
                      </label>
                    </div>
                  </div>

             

                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg py-3 btn-block" >Place Order</button>
                  </div>
                </form>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- </form> -->
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Available Coupons</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
         <% if(locals.coupon && locals.coupon.length >0){%>
          <% coupon.forEach((coupon) =>{%>
          <div class="container">
            <div class="alert alert-info" role="alert">
             <%= coupon.code %>
            </div>
            
          </div>
          <%}) %>
          <%}else{%>
            <div class="container">
              <div class="alert alert-info" role="alert">
                No coupons available
              </div>
            </div>
            <%} %>
          
        </div>
      </div>
    </div>
    </div>
     <!-- Modal -->

     <footer class="site-footer border-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Navigations</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Sell online</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Shopping cart</a></li>
                  <li><a href="#">Store builder</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Mobile commerce</a></li>
                  <li><a href="#">Dropshipping</a></li>
                  <li><a href="#">Website development</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Point of sale</a></li>
                  <li><a href="#">Hardware</a></li>
                  <li><a href="#">Software</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <h3 class="footer-heading mb-4">Promo</h3>
            <a href="#" class="block-6">
              <img src="/user_assets/images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
              <h3 class="font-weight-light  mb-0">Finding Your Perfect Style</h3>
              
            </a>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">Fashion Hub, Kochi, Kerala, India</li>
                <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                <li class="email">fashionHubdummy@Email.com</li>
              </ul>
            </div>
  
            <div class="block-7">
              <form action="#" method="">
                <label for="email_subscribe" class="footer-heading">Subscribe</label>
                <div class="form-group">
                  <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                  <input type="submit" class="btn btn-sm btn-primary" value="Send">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy; All rights reserved | This Project is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="" target="_blank" class="text-primary">Shyam P.S</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
          
        </div>
      </div>
    </footer>
  </div>

  <script>
    const setSubtotal  = ()=>{
   const itemTotal=document.getElementsByClassName('item-total');
   let subtotal = 0;
   for(let i= 0; i < itemTotal.length; i++){
     subtotal += Number(itemTotal[i].innerHTML)
   }
   document.getElementById('subtotal').innerHTML=subtotal;
   document.getElementById('total').innerHTML=subtotal;
 }
 setSubtotal();

 </script>
 
    <!--  reedem coupon -->

		<script>



			function redeem() {
			var formData = $('#couponForm').serialize();

			$.ajax({
				url: "/redeem_coupon",
				type: "POST",
				data: formData,
				success: function (response) {

					// Handle the response here

					handleCouponResponse(response);
				},
				error: function (xhr, status, error) {
					console.error('Coupon request failed. Status:', status);
				}
			});
			}

			function handleCouponResponse(response) {
			var couponMessage = document.getElementById('couponMessage');
			var couponCodeInput = document.getElementById('couponCode');
			var totalElement = document.getElementById('total');

			if (couponCodeInput.value.trim() === '') {
				// Clear the message if the coupon code input is empty
				couponMessage.textContent = '';
				return;
			}

			if (response.success) {
				// Coupon is available, update the message and subtract the coupon value from the total
				var couponValue = response.amount;
				var total = parseFloat(totalElement.textContent);
				var updatedTotal = total - couponValue;
				totalElement.textContent = updatedTotal.toFixed(2); // Update the total with 2 decimal places
				couponMessage1.textContent = response.message; // Display the success message from the response
			} else {
				// Coupon is not available or there was an error
				couponMessage.textContent = response.message; // Display the error message from the response
			}
			}



		</script>

    <!--Wallet Pay -->
    <script>
       function walletPay(){
        $.ajax({
          url : '/wallet-pay',
          method:'PUT',
          success : (data)=>{
            if(data.success){
              setNewTotal(data.wallet_balance,data.totalPrice)
            }else{
              console.log('wallet pay error');
            }
          },
          error:(xhr, status, error) =>{
						console.error('Wallet pay failed. Status:', status);
					}
        })
       }

       function setNewTotal(walletBalance, newtotalPrice){

        const itemTotal = parseInt(document.getElementById('subtotal').innerHTML);
        const orderTotal =  parseInt(document.getElementById('total').innerHTML);


        let sum = (10 / 100) * itemTotal
            console.log("sum on the front is",sum);
            if(walletBalance > sum){
              newtotal = (orderTotal - sum)
            }else {
               return alert('wallet Amount insufficient')
            }
            document.getElementById("walletMsg").textContent = `Wallet amount discounted is ${sum.toFixed(2)} ₹`;

            document.getElementById('total').innerHTML =  newtotal.toFixed(2);
            console.log("sum on the front is",sum);

       }
    </script>

  
  <script src="/user_assets/js/jquery-3.3.1.min.js"></script>
  <script src="/user_assets/js/jquery-ui.js"></script>
  <script src="/user_assets/js/popper.min.js"></script>
  <script src="/user_assets/js/bootstrap.min.js"></script>
  <script src="/user_assets/js/owl.carousel.min.js"></script>
  <script src="/user_assets/js/jquery.magnific-popup.min.js"></script>
  <script src="/user_assets/js/aos.js"></script>

  <script src="/user_assets/js/main.js"></script>
    
  </body>
</html>