<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fashion Hub</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="/user_assets/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/user_assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user_assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/user_assets/css/jquery-ui.css">
    <link rel="stylesheet" href="/user_assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/user_assets/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="/user_assets/css/aos.css">

    <link rel="stylesheet" href="/user_assets/css/style.css">



    <!-- toastify -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <style>
      .carousel-image {
        max-height: 300px;
        object-fit: contain;
      }

      /* Custom CSS to change the color of the carousel control icon */
        .carousel-control-prev .carousel-control-prev-icon,
        .carousel-control-next .carousel-control-next-icon {
          color: black !important;
        }
      </style>
    
  </head>
  <body>
  
  <div class="site-wrap">
    <header class="site-navbar" role="banner">
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
              <form action="" class="site-block-top-search">
                <span class="icon icon-search2"></span>
                <input type="text" class="form-control border-0" placeholder="Search">
              </form>
            </div>

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
              <div class="site-logo">
                <a href="/" class="js-logo-clone">FASHION HUB</a>
              </div>
            </div>

            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
                <ul>
                  <% if(locals.user){%>
                    <li><a href="/user/profile"><span class="icon icon-person"></span></a></li>
                  <li><a href="/wishlist"><span class="icon icon-heart-o"></span></a></li>
                  <li>
                    <a href="/cart" class="site-cart">
                      <span class="icon icon-shopping_cart"></span>
                      <% if(locals.count){%>
                        <span class="count"><%= count ? count : '' %></span>
                        <%} %>
                    </a>
                  </li> 
                  <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                    <%}else{%>
                      <li><a href="#"><span class="icon icon-person"></span></a></li>
                      <li><a href="#"><span class="icon icon-heart-o"></span></a></li>
                      <li>
                        <a href="#" class="site-cart">
                          <span class="icon icon-shopping_cart"></span>
                          <span class="count">2</span>
                        </a>
                      </li> 
                      <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                    <%}
                    %>
                  
                </ul>
              </div> 

               <!-- login -->
               <% if(locals.user){%>
                <!-- Example single danger button -->
               <div class="btn-group">
                 <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <%= user.name %>
                 </button>
                 <div class="dropdown-menu">
                   <a class="dropdown-item" href="/user/logout">Log out</a>
                 </div>
               </div>

             <%}else{%>
               <a class="btn btn-primary text-light" href="/login" role="button">Log In</a>
             <%} %>
            </div>

          </div>
        </div>
      </div> 
      <nav class="site-navigation text-right text-md-center" role="navigation">
        <div class="container">
          <ul class="site-menu js-clone-nav d-none d-md-block">
            <li class="has-children active">
              <a href="/">Home</a>
              <ul class="dropdown">
                <% if(locals.user){%>
                <li><a href="/user/vieworders">View Orders</a></li>
                <%} %>
                
              </ul>
            </li>
          
            <li><a href="/shop">Shop</a></li>
            <li><a href="/wallet">Wallet</a></li>
            <li><a href="/user/vieworders">Orders</a></li>
            <li><a href="/wishlist">Wishlist</a></li>
            
           
          </ul>
        </div>
      </nav>
    </header>

   


   
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black"><%= product.name %></strong></div>
        </div>
      </div>
    </div>  

   

    <!-- new -->
    <div class="site-section  bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6 stretch-card">
            <div
              id="carouselExample-cf"
              class="carousel carousel-dark slide carousel-fade"
              data-bs-ride="carousel"
            >
              <ol class="carousel-indicators">
                <% for(let i = 0; i < product.image.length; i++) { %>
                  <% if(i === 0) { %>
                    <li data-bs-target="#carouselExample-cf" data-bs-slide-to="0" class="active"></li>
                  <% } else { %>
                    <li data-bs-target="#carouselExample-cf" data-bs-slide-to="<%= i %>"></li>
                  <% } %>
                <% } %>
              </ol>
        
              <div class="carousel-inner bg-light">
                <% for(let i = 0; i < product.image.length; i++) { %>
                  <% if(i === 0) { %>
                    <div class="carousel-item active easyzoom easyzoom--overlay">
                  <% } else { %>
                    <div class="carousel-item easyzoom easyzoom--overlay">
                  <% } %>
                      <img src="/<%= product.image[i] %>" alt="Image" class="mainimage d-block w-100 img-fluid border border-light carousel-image">
                    </div>
                <% } %>
              </div>
        
              <a class="carousel-control-prev" href="#carouselExample-cf" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
                <span class="visually-hidden" style="color: black;">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExample-cf" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden" style="color: black;">Next</span>
              </a>
            </div>
          </div>
        
          <div class="col-md-6">
            <h2 class="text-black product-name" title="<%= product.name %>"><%= product.name %></h2>
            <p class=""><%= product.description %></p>
            <p class="mb-4"></p>
            <p><strong class="text-primary h4"> ₹ <%= product.price %></strong></p>
            <div class="mb-5"></div>
        
            <div class="d-flex">
              <p><a href="/addToCart/<%= product._id %>" class="buy-now btn btn-sm btn-primary" id="addToCartButton">Add To Cart</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <!-- new -->




    <div class="site-section block-3 site-blocks-2 bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>Featured Products</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="nonloop-block-3 owl-carousel">
              <div class="item">
                <div class="block-4 text-center">
                  <figure class="block-4-image">
                    <img src="/user_assets/images/cloth_1.jpg" alt="Image placeholder" class="img-fluid">
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="#">Tank Top</a></h3>
                    <p class="mb-0">Finding perfect t-shirt</p>
                    <p class="text-primary font-weight-bold">$50</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="block-4 text-center">
                  <figure class="block-4-image">
                    <img src="/user_assets/images/shoe_1.jpg" alt="Image placeholder" class="img-fluid">
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="#">Corater</a></h3>
                    <p class="mb-0">Finding perfect products</p>
                    <p class="text-primary font-weight-bold">$50</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="block-4 text-center">
                  <figure class="block-4-image">
                    <img src="/user_assets/images/cloth_2.jpg" alt="Image placeholder" class="img-fluid">
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="#">Polo Shirt</a></h3>
                    <p class="mb-0">Finding perfect products</p>
                    <p class="text-primary font-weight-bold">$50</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="block-4 text-center">
                  <figure class="block-4-image">
                    <img src="/user_assets/images/cloth_3.jpg" alt="Image placeholder" class="img-fluid">
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="#">T-Shirt Mockup</a></h3>
                    <p class="mb-0">Finding perfect products</p>
                    <p class="text-primary font-weight-bold">$50</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="block-4 text-center">
                  <figure class="block-4-image">
                    <img src="/user_assets/images/shoe_1.jpg" alt="Image placeholder" class="img-fluid">
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="#">Corater</a></h3>
                    <p class="mb-0">Finding perfect products</p>
                    <p class="text-primary font-weight-bold">$50</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="site-footer border-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Navigations</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Sell online</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Shopping cart</a></li>
                  <li><a href="#">Store builder</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Mobile commerce</a></li>
                  <li><a href="#">Dropshipping</a></li>
                  <li><a href="#">Website development</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Point of sale</a></li>
                  <li><a href="#">Hardware</a></li>
                  <li><a href="#">Software</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <h3 class="footer-heading mb-4">Promo</h3>
            <a href="#" class="block-6">
              <img src="/user_assets/images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
              <h3 class="font-weight-light  mb-0">Finding Your Perfect Style</h3>
              
            </a>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">Fashion Hub, Kochi, Kerala, India</li>
                <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                <li class="email">fashionHubdummy@Email.com</li>
              </ul>
            </div>
  
            <div class="block-7">
              <form action="#" method="">
                <label for="email_subscribe" class="footer-heading">Subscribe</label>
                <div class="form-group">
                  <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                  <input type="submit" class="btn btn-sm btn-primary" value="Send">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy; All rights reserved | This Project is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="" target="_blank" class="text-primary">Shyam P.S</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
          
        </div>
      </div>
    </footer>
  </div>

  <!-- for carousel -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- for carousel -->

  <script src="/user_assets/js/jquery-3.3.1.min.js"></script>
  <script src="/user_assets/js/jquery-ui.js"></script>
  <script src="/user_assets/js/popper.min.js"></script>
  <script src="/user_assets/js/bootstrap.min.js"></script>
  <script src="/user_assets/js/owl.carousel.min.js"></script>
  <script src="/user_assets/js/jquery.magnific-popup.min.js"></script>
  <script src="/user_assets/js/aos.js"></script>

  <script src="/user_assets/js/main.js"></script>



<!-- toastify -->
<script>
   function showToast() {
		Toastify({
			text: 'Product added to cart',
			duration: 3000, // Duration in milliseconds
			gravity: 'top', // Display position
			position: 'right', // Display position
			backgroundColor: '#ff6f00', // Toast background color
			stopOnFocus: true, // Stop timer when the toast is hovered
		}).showToast();
		}
document.getElementById('addToCartButton').addEventListener('click', function(event) {
  event.preventDefault();
   
  // Make an AJAX request to the server
  var xhr = new XMLHttpRequest();
  xhr.open('GET', '/addToCart/<%= product._id %>', true);
  xhr.onreadystatechange = function() {
    if (xhr.readyState === 4 && xhr.status === 200) {
    // Display the success toast or SweetAlert here
    showToast() 
    }
  };
  xhr.send();
  });

</script>

  <!-- toastify -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!-- toastify -->
  </body>
</html>