
<!-- header section -->
<%- include('partials/header') %>
 <!-- header section -->
  <!-- toastify -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

 <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">

      <div class="row mb-5">
        <div class="col-md-9 order-2">

          <div class="row">
            <div class="col-md-12 mb-5">
              <div class="float-md-left mb-4"><h2 class="text-black h5">Shop All</h2></div>
              <div class="d-flex">
                <!-- search -->
                <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                  <form action="/shop" method="GET" class="site-block-top-search">
                    <span class="icon icon-search2"></span>
                    <input type="text" class="form-control border-0" name="search" placeholder="Search">
                  </form>
                </div>
                <!-- search -->

                <div class="dropdown mr-1 ml-md-auto">
                  <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <% if(selectedCategory){%>
                    <%= selectedCategory %>
                    <%} else{%> Categories<%} %>
                   
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                    <a class="dropdown-item" href="/shop">All</a>
                    <% data.forEach((category)=>{%>
                      <a class="dropdown-item" href="/shop?category=<%= category.category%>"><%= category.category%></a>
                      <%}) %>
                  </div>
                </div>
                

                
              </div>
            </div>
          </div>
          <div class="row mb-5">
            <% if(product != null){%>
            <% product.forEach( products=> { %>
              <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="/shop/single/<%= products._id %>"><img src="<%=products.image[0] %>"  alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="/shop/single/<%= products._id %>"><%= products.name %></a></h3>
                    <p class="mb-0"><%= products.description %></p>
                    <p class="text-primary font-weight-bold">₹<%= products.price %></p>
                    <a href="" title="add to Wishlist" id="addToWishlist" onclick="addToWishlist(event,'<%=products._id  %>', '<%= products.name %>')"><span class="icon icon-heart-o"></span></a>
                  </div>
                </div>
              </div>
            <% }) %>
            <%}else{%>
              <div class="container center">
                <h2 style="text-align: center;">Sorry, No  products found</h2>
              </div>
              <%} %>

          </div>
          <div class="row" data-aos="fade-up">
            <div class="col-md-12 text-center">
              <div class="site-block-27">
                <ul>
                  <% if (currentPage > 1) { %>
                    <li><a href="/shop?page=<%= currentPage - 1 %>">&lt;</a></li>
                  <% } %>
                  
                  <% for (let i = 1; i <= totalPages; i++) { %>
                    <% if (currentPage === i) { %>
                      <li class="active"><span><%= i %></span></li>
                    <% } else { %>
                      <li><a href="/shop?page=<%= i %>"><%= i %></a></li>
                    <% } %>
                  <% } %>
                  
                  <% if (currentPage < totalPages) { %>
                    <li><a href="/shop?page=<%= currentPage + 1 %>">&gt;</a></li>
                  <% } %>
                </ul>
              </div>
            </div>
          </div>
          
        </div>

        <div class="col-md-3 order-1 mb-5 mb-md-0">
          <div class="border p-4 rounded mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
            <ul class="list-unstyled mb-0">
              <% if(locals.data){%>
                <% data.forEach(category =>{%>
              <li class="mb-1"><a href="/shop?category=<%= category.category%>" class="d-flex"><span><%= category.category %></span> <span class="text-black ml-auto">( <%= categoryCounts[category.category] || 0 %> )</span></a></li>
             
              <%}) %>
              <%} %>
            </ul>
          </div>

          <div class="border p-4 rounded mb-4">
            <div class="mb-4">
              <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Price</h3>
              <ul class="list-unstyled mb-0">
                <li class="mb-1"><a href="/shop?category=<%= selectedCategory %>&sort=asc" class="d-flex"><span>Low to High</span></a></li>
                <li class="mb-1"><a href="/shop?category=<%= selectedCategory %>&sort=desc" class="d-flex"><span>High to Low</span></a></li>
              </ul>
            </div>

            

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="site-section site-blocks-2">
              <div class="row justify-content-center text-center mb-5">
                <div class="col-md-7 site-section-heading pt-4">
                  <h2>Categories</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
                  <a class="block-2-item" href="#">
                    <figure class="image">
                      <img src="user_assets/images/women.jpg" alt="" class="img-fluid">
                    </figure>
                    <div class="text">
                      <span class="text-uppercase">Collections</span>
                      <h3>Women</h3>
                    </div>
                  </a>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
                  <a class="block-2-item" href="#">
                    <figure class="image">
                      <img src="user_assets/images/children.jpg" alt="" class="img-fluid">
                    </figure>
                    <div class="text">
                      <span class="text-uppercase">Collections</span>
                      <h3>Children</h3>
                    </div>
                  </a>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
                  <a class="block-2-item" href="#">
                    <figure class="image">
                      <img src="user_assets/images/men.jpg" alt="" class="img-fluid">
                    </figure>
                    <div class="text">
                      <span class="text-uppercase">Collections</span>
                      <h3>Men</h3>
                    </div>
                  </a>
                </div>
              </div>
            
          </div>
        </div>
      </div>
      
    </div>
  </div>


 <!-- footer session -->
<%- include('partials/footer') %>
<!-- footer session -->

</div>

<script>
  function showToast(productName) {
   Toastify({
     text: `${productName} added to Wishlist`,
     duration: 3000, // Duration in milliseconds
     gravity: 'top', // Display position
     position: 'right', // Display position
     backgroundColor: '#1ABC9C', // Toast background color
     stopOnFocus: true, // Stop timer when the toast is hovered
   }).showToast();
   }
 function addToWishlist(event,productId, productName) {
 event.preventDefault();
  
 // Make an AJAX request to the server
 var xhr = new XMLHttpRequest();
 xhr.open('POST', `/addToWishlist/${productId}`, true);
 xhr.onreadystatechange = function() {
   if (xhr.readyState === 4 && xhr.status === 200) {
   // Display the success toast or SweetAlert here
   showToast(productName) 
   }
 };
 xhr.send();
 };

</script>



 

<script src="user_assets/js/jquery-3.3.1.min.js"></script>
<script src="user_assets/js/jquery-ui.js"></script>
<script src="user_assets/js/popper.min.js"></script>
<script src="user_assets/js/bootstrap.min.js"></script>
<script src="user_assets/js/owl.carousel.min.js"></script>
<script src="user_assets/js/jquery.magnific-popup.min.js"></script>
<script src="user_assets/js/aos.js"></script>

<script src="user_assets/js/main.js"></script>
<!-- toastify -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<!-- toastify -->
  
</body>
</html>