<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fashion Hub </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/user_assets/https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="/user_assets/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/user_assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user_assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/user_assets/css/jquery-ui.css">
    <link rel="stylesheet" href="/user_assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/user_assets/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="/user_assets/css/aos.css">

    <link rel="stylesheet" href="/user_assets/css/style.css">


 


  

  </head>
  <body>
  
  <div class="site-wrap">
    <header class="site-navbar" role="banner">
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
              <form action="" class="site-block-top-search">
                <span class="icon icon-search2"></span>
                <input type="text" class="form-control border-0" placeholder="Search">
              </form>
            </div>

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
              <div class="site-logo">
                <a href="/" class="js-logo-clone">FASHION HUB</a>
              </div>
            </div>

            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
                <ul>
                  <% if(locals.user){%>
                    <li><a href="/user/profile"><span class="icon icon-person"></span></a></li>
                  <li><a href="/wishlist"><span class="icon icon-heart-o"></span></a></li>
                  <li>
                    <a href="/cart" class="site-cart">
                      <span class="icon icon-shopping_cart"></span>
                      <% if(locals.count){%>
                        <span class="count"><%= count ? count : '' %></span>
                        <%} %>
                    </a>
                  </li> 
                  <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                    <%}else{%>
                      <li><a href="#"><span class="icon icon-person"></span></a></li>
                      <li><a href="#"><span class="icon icon-heart-o"></span></a></li>
                      <li>
                        <a href="#" class="site-cart">
                          <span class="icon icon-shopping_cart"></span>
                          
                        </a>
                      </li> 
                      <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                    <%}
                    %>
                  
                </ul>
              </div> 
              <!-- login -->
              <% if(locals.user){%>
                   <!-- Example single danger button -->
                  <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= user.name %>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="/user/logout">Log out</a>
                    </div>
                  </div>

                <%}else{%>
                  <a class="btn btn-primary text-light" href="/login" role="button">Log In</a>
                <%} %>
              
            </div>

          </div>
        </div>
      </div> 
      <nav class="site-navigation text-right text-md-center" role="navigation">
        <div class="container">
          <ul class="site-menu js-clone-nav d-none d-md-block">
            <li class="has-children active">
              <a href="/">Home</a>
              <ul class="dropdown">
                <% if(locals.user){%>
                <li><a href="/user/vieworders">View Orders</a></li>
                <%} %>
                
              </ul>
            </li>
          
            <li><a href="/shop">Shop</a></li>
            <li><a href="/wallet">Wallet</a></li>
            <li><a href="/user/vieworders">Orders</a></li>
            <li><a href="/wishlist">Wishlist</a></li>
            
           
          </ul>
        </div>
      </nav>
    </header>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Your orders</strong></div>
        </div>
      </div>
    </div>



    <% if(!locals.orders || orders.length ==0) {%>
      <div class="container center mt-5">
        <h2 style="text-align: center;">Sorry, no order history found</h2>
        <h5 style="text-align: center;">Kindly purchase from our shop</h5>
        <a class="btn btn-primary text-light mb-5 d-flex justify-content-center" href="/" role="button">Return Home</a>
      </div>
    <%}else{%>
      <!-- Recent Sales Start -->
      <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h3 class="mb-0">Your Orders</h3>
                
            </div>
            <div class="table-responsive">
                <table  class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-dark">
                            <th scope="col">Date</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Address</th>
                            <th scope="col">Payment Method</th>
                            <th scope="col">Image</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% orders.reverse().forEach((orders,index) =>{%>
                        
                        
                        
                            <tr>
                                <td><%= orders.createdAt.toLocaleDateString() %></td>
                                <td>
                                   <% orders.items.forEach((item, index) => { %>
                                  <%= index+1 %>. <%= item.product.name %> <br>
                                  <% }) %>
                                </td>
                                <td><%= orders.total %></td>
                                <td><%= orders.address.address %>, <%= orders.address.city %>,<br>
                                  <%= orders.address.state %>, pin: <%= orders.address.pincode %><br>
                                  phone: <%= orders.address.phone %>
                                </td>
                                <td>
                                  <%= orders.payment_method%>
                                  
                                </td>
                                
                                <td>
                                  <% orders.items.forEach((item, index) => { %>
                                    <img src="/<%= item.product.image[0] %>" alt="img" width="40px" class="img-thumbnail" > <br>
                                  <%})%>
                                </td>
                                <td><%= orders.status %></td>
                                <% if (orders.status == 'Pending') { %>
                                  <td><a class="btn btn-sm btn-danger" href="/orderCancelled/<%= orders._id %>" onclick="confirmdelete(event)">Cancel</a>
                                    <div>
                                      <a href="/user/orderDetails/<%= orders._id %>" class="link-danger" style="font-weight: bold; text-decoration: underline; color: red;">Order details</a>
  
                                    </div>
                                  </td>
                                <% } else if (orders.status == 'Delivered') { %>
                                  <td><a class="btn btn-sm btn-danger" href="/orderReturned/<%= orders._id %>" onclick="confirmReturn(event)">Return</a>
                                    <div>
                                      <a href="/user/orderDetails/<%= orders._id %>" class="link-danger" style="font-weight: bold; text-decoration: underline; color: red;">Order details</a>
  
                                    </div>
                                  </td>
                                <% } else if (orders.status == 'Cancelled')  { %>
                                  <td>Order Cancelled</td>
                                <% }else if (orders.status == 'Returned')  { %>
                                  <td>Order Returned</td>
                                <% } %>
                                 
                                


                            </tr>
                      
                        
                          <%}) %>
                    </tbody>
                </table>
               
            </div>
        </div>
    </div>
    <%} %>
    <!-- Recent Sales End -->






    <footer class="site-footer border-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Navigations</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Sell online</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Shopping cart</a></li>
                  <li><a href="#">Store builder</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Mobile commerce</a></li>
                  <li><a href="#">Dropshipping</a></li>
                  <li><a href="#">Website development</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Point of sale</a></li>
                  <li><a href="#">Hardware</a></li>
                  <li><a href="#">Software</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <h3 class="footer-heading mb-4">Promo</h3>
            <a href="#" class="block-6">
              <img src="/user_assets/images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
              <h3 class="font-weight-light  mb-0">Finding Your Perfect Style</h3>
              
            </a>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">Fashion Hub, Kochi, Kerala, India</li>
                <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                <li class="email">fashionHubdummy@Email.com</li>
              </ul>
            </div>
  
            <div class="block-7">
              <form action="#" method="">
                <label for="email_subscribe" class="footer-heading">Subscribe</label>
                <div class="form-group">
                  <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                  <input type="submit" class="btn btn-sm btn-primary" value="Send">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy; All rights reserved | This Project is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="" target="_blank" class="text-primary">Shyam P.S</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
          
        </div>
      </div>
    </footer>
  </div>

  
     <!-- sweet alert -->
    <script>


      function confirmdelete(event) {
      event.preventDefault(); // Prevent the link from immediately navigating
    
      swal({
        title: "Do you really want to cancel the order?",
        icon: "warning",
        buttons: {
          cancel: "No",
          confirm: "Yes"
        },
      }).then((confirmed) => {
        if (confirmed) {
          swal({
            title: "Order cancelled successfully!",
            icon: "success",
          }).then(() => {
            window.location.href = event.target.href; // Navigate to the block_pdt URL
          });
        }
      });
    }

    function confirmReturn(event) {
      event.preventDefault(); // Prevent the link from immediately navigating
    
      swal({
        title: "Do you really want to return the order?",
        icon: "warning",
        buttons: {
          cancel: "No",
          confirm: "Yes"
        },
      }).then((confirmed) => {
        if (confirmed) {
          swal({
            title: "Order returned successfully!",
            icon: "success",
          }).then(() => {
            window.location.href = event.target.href; // Navigate to the block_pdt URL
          });
        }
      });
    }
    
    </script>

     <!-- sweet alert -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" ></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" ></script>

  
      
    </body>

</html>